<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ include.title }}</title>    
    <!-- Plugins CSS -->
    <link href="/{{ site.paths.assets }}/css/plugins/plugins.css" rel="stylesheet">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/{{ site.paths.assets }}/revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="/{{ site.paths.assets }}/revolution/css/layers.css">

    <link rel="stylesheet" type="text/css" href="/{{ site.paths.assets }}/bower_components/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="/{{ site.paths.assets }}/revolution/css/navigation.css">
    <link rel='stylesheet' href='/{{ site.paths.assets }}/revolution/revolution-addons/particles/css/revolution.addon.particles.css?ver=1.0.3' type='text/css'>

    <!-- load css for cubeportfolio -->
    <link rel="stylesheet" type="text/css" href="/{{ site.paths.assets }}/cubeportfolio/css/cubeportfolio.min.css">
    <link href="/{{ site.paths.assets }}/css/style.css" rel="stylesheet">
</head>