 <div class="pt90 bg-dark">
     <div class='container'>
       <div class="row align-items-center">
           <div class="col-lg-8 text-center col-lg-10 mr-auto ml-auto">
               <h2 class='text-white'>{{ include.title }}</h2>
               <p class='lead text-white-gray'>{{ include.description }}</p>
               <a href="{{ include.url }}" class="btn btn-lg btn-rounded btn-primary">{{ include.buttonText }}</a><br>
               <img src="{{ include.image }}" alt="" class="img-fluid pt40">
           </div>
       </div>
       </div>
</div>