<!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-color navbar-transparent-light nav-sticky">
    <div class="search-inline">
                    <form>
                        <input type="text" class="form-control" placeholder="Type and hit enter...">
                        <button type="submit"><i class="ti-search"></i></button>
                        <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                    </form>
                </div>
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img style="max-width: 200px" src="{{ site.paths.assets }}/images/logo.png" alt=""></a>
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">

                        {% for link in site.data.menuLinks %}
                        {% if link.dropdown == true %}
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                {{ link.name }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for item in link.list %}
                                <li><a href="{{ item.url }}" class="dropdown-item">{{ item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% else %}
                        {% if link.name == page.title %}
                        <li class="nav-item active">
                            {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="{{ link.url }}">{{ link.name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!--<div class=" navbar-right-elements">-->
                    <!--<ul class="list-inline">-->
                        <!--<li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>-->
                    <!--</ul>-->
                <!--</div>&lt;!&ndash;right nav icons&ndash;&gt;-->

            </div>
        </nav>