<footer class="footer footer-dark pt50 pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  ml-auto mr-auto text-center">
                <ul class="social-icons list-inline">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-facebook"></i>Facebook
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-twitter"></i>twitter
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-instagram"></i>instagramsssss
                        </a>
                    </li>
                </ul>
                <h4><i class="fa fa-phone"></i> {{ site.phone }}</h4>
                <h4><i class="fa fa-envelope"></i> {{ site.email }}</h4>
                <h4><i class="fa fa-help"></i> {{ site.supportUrl }}</h4>
                <p>© Copyright 20{{ site.time | date: '%y' }} {{ site.company }}</p>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
